
*{
  padding: 0%;
  margin: 0%;
  background-color: aqua;
}

.container{
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 190px;
}
.container h1,span{
  width: 30%;
  height: 15%;
  border-radius: 45px;
  background-color: white
  
}
